<!DOCTYPE html>
<html>
<head>
    <title>COFFEESHOP</title>
</head>
<body>
    <!doctype html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
    <h1>Coffee Shop Database Management</h1>
    <ul>
        <li><a href="/coffeeshops">Manage Coffee Shops</a></li>
        <li><a href="/suppliers">Manage Suppliers</a></li>
        <li><a href="/contracts">Manage Contracts</a></li>
        <li><a href="/employees">Manage Employees</a></li>
        <li><a href="/menuitems">Manage Menu Items</a></li>
    </ul>
    
</body>
</html>