<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
</head>
<body>
    <h1>Table Example</h1>
    <table border="1">
        <tr>
            <th>ShopName</th>
            <th>SupplierName</th>
            <th>Rating</th>
        </tr>
        <tr>
            <td>LadderCoffeeCo</td>
            <td>HorizonHarvest</td>
            <td>4.8</td>
        </tr>
        <tr>
            <td>Clyde</td>
            <td>EthoJoe</td>
            <td>4.7</td>
        </tr>
        <tr>
            <td>BlackCoffee</td>
            <td>RockWater</td>
            <td>4.5</td>
        </tr>
        
    </table>
</body>
</html>