<!DOCTYPE html>
<html>
<head>
    <title>Update Employee</title>
</head>
<body>
    <h1>Update Employee</h1>
    <form action="{{ url_for('update_employee', employee_id=employee[0]) }}" method="POST">
        <label for="employeeName">Employee Name:</label>
        <input type="text" id="employeeName" name="employeeName" value="{{ employee[1] }}">
        <br>
        <label for="shopID">Shop ID:</label>
        <input type="text" id="shopID" name="shopID" value="{{ employee[2] }}">
        <br>
        <label for="managerID">Manager ID:</label>
        <input type="text" id="managerID" name="managerID" value="{{ employee[3] }}">
        <br>
        <input type="submit" value="Update Employee">
    </form>
    <a href="{{ url_for('manage_employee') }}">Back to Employees</a>
</body>
</html>